.advanced-button-group {
    @apply flex;

    .btn {
        @apply relative rounded-none first:rounded-l-md last:rounded-r-md;

        input {
            @apply hidden;
        }

        label {
            @apply cursor-pointer absolute inset-0;
        }
    }
    .btn:has(:checked) {
        @apply border-primary bg-primary text-white hover:bg-primary/80 hover:text-white focus:ring-primary focus:ring-opacity-20 dark:focus:ring-opacity-40;
    }
}

.js-stepper-head-container {
    @apply flex flex-wrap items-center justify-start gap-4;

    .js-stepper-head {
        @apply flex items-center;

        &:not(:last-child) {
            &::after {
                @apply h-6 w-6 bg-gray-600 dark:bg-gray-400 ms-4;
                content: "";
                mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232e2e2e' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
                mask-size: cover;
            }
        }

        .btn {
            @apply min-w-11;
        }

        .js-stepper-head-state-done {
            .btn {
                @apply border-primary bg-primary text-white hover:bg-primary/80 hover:text-white focus:ring-primary focus:ring-opacity-20 dark:focus:ring-opacity-40;

                span {
                    @apply hidden;
                }

                &:before {
                    @apply h-5 w-5 bg-white;
                    content: "";
                    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true' data-slot='icon'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m4.5 12.75 6 6 9-13.5'%3E%3C/path%3E%3C/svg%3E");
                    mask-size: cover;
                }
            }
        }

        .js-stepper-head-state-active {
            .badge {
                @apply min-w-11 h-10 flex items-center justify-center;
            }

            .js-stepper-head-description {
                @apply text-3xs text-slate-400 dark:text-slate-500;
            }
        }
    }
}

.js-stepper-content {
    @apply space-y-4;
}

.link-group {
    @apply flex flex-col overflow-hidden rounded-md divide-y dark:divide-dark-200 border dark:border-dark-200 dark:bg-dark-500 dark:text-slate-300;

    &-item {
        @apply flex justify-between items-center p-4 transition hover:text-secondary dark:hover:text-secondary;
    }
    &-description {
        @apply text-3xs text-slate-400 dark:text-slate-500;
    }
}
